In [1]:
import numpy as np
import pandas as pd

In [2]:
data_set= pd.read_csv('profit_data.csv')

In [3]:
data_set

    index         RD        Mkt      Admin         State  Profit
0       1  165349.20  136897.80  471784.10    'New York'  115546
1       2  162597.70  151377.59  443898.53  'California'  146399
2       3  153441.51  101145.55  407934.54     'Florida'  111438
3       4  144372.41  118671.85  383199.62    'New York'  149790
4       5  142107.34   91391.77  366168.42     'Florida'  143642
5       6  131876.90   99814.71  362861.36    'New York'  119634
6       7  134615.46  147198.87  127716.82  'California'  110900
7       8  130298.13  145530.06  323876.68     'Florida'  168631
8       9  120542.52  148718.95  311613.29    'New York'  168518
9      10  123334.88  108679.17  304981.62  'California'  161551
10     11  101913.08  110594.11  229160.95     'Florida'  102370
11     12  100671.96   91790.61  249744.55  'California'  157465
12     13   93863.75  127320.38  249839.44     'Florida'  129077
13     14   91992.39  135495.07  252664.93  'California'  140946
14     15  119943.24  156547.42  256512.92     'Florida'  161600
15     16  114523.61  122616.84  261776.23    'New York'  115124
16     17   78013.11  121597.55  264346.06  'California'  107058
17     18   94657.16  145077.58  282574.31    'New York'   98346
18     19   91749.16  114175.79  294919.57     'Florida'  122703
19     20   86419.70  153514.11       0.00    'New York'  174760
20     21   76253.86  113867.30  298664.47  'California'  159299
21     22   78389.47  153773.43  299737.29    'New York'  105174
22     23   73994.56  122782.75  303319.26     'Florida'  116989
23     24   67532.53  105751.03  304768.73     'Florida'  102336
24     25   77044.01   99281.34  140574.81    'New York'  151891
25     26   64664.71  139553.16  137962.62  'California'  134473
26     27   75328.87  144135.98  134050.07     'Florida'  103137
27     28   72107.60  127864.55  353183.81    'New York'  169510
28     29   66051.52  182645.56  118148.20     'Florida'   97271
29     30   65605.48  153032.06  107138.38    'New York'  142382
30     31   61994.48  115641.28   91131.24     'Florida'  143064
31     32   61136.38  152701.92   88218.23    'New York'   98697
32     33   63408.86  129219.61   46085.25  'California'  165018
33     34   55493.95  103057.49  214634.81     'Florida'  124906
34     35   46426.07  157693.92  210797.67  'California'  143848
35     36   46014.02   85047.44  205517.64    'New York'  169792
36     37   28663.76  127056.21  201126.82     'Florida'   99423
37     38   44069.95   51283.14  197029.42  'California'  112459
38     39   20229.59   65947.93  185265.10    'New York'  124597
39     40   38558.51   82982.09  174999.30  'California'  162089
40     41   28754.33  118546.05  172795.67  'California'  151676
41     42   27892.92   84710.77  164470.71     'Florida'  174992
42     43   23640.93   96189.63  148001.11  'California'   98134
43     44   15505.73  127382.30   35534.17    'New York'  141684
44     45   22177.74  154806.14   28334.72  'California'  141723
45     46    1000.23  124153.04    1903.93    'New York'  133463
46     47    1315.46  115816.21  297114.46     'Florida'  140940
47     48       0.00  135426.92       0.00  'California'  113672
48     49     542.05   51743.15       0.00    'New York'  144687
49     50       0.00  116983.80   45173.06  'California'  128783

In [5]:
data_set.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.

index              1
RD          165349.2
Mkt         136897.8
Admin       471784.1
State     'New York'
Profit        115546
Name: 0, dtype: object

In [7]:
data_set.iloc[-1] # last row of data frame (Mi Richan)

index               50
RD                 0.0
Mkt           116983.8
Admin         45173.06
State     'California'
Profit          128783
Name: 49, dtype: object

In [10]:
# Columns:
data_set.iloc[:,2] # first column of data frame (RD)

0     136897.80
1     151377.59
2     101145.55
3     118671.85
4      91391.77
5      99814.71
6     147198.87
7     145530.06
8     148718.95
9     108679.17
10    110594.11
11     91790.61
12    127320.38
13    135495.07
14    156547.42
15    122616.84
16    121597.55
17    145077.58
18    114175.79
19    153514.11
20    113867.30
21    153773.43
22    122782.75
23    105751.03
24     99281.34
25    139553.16
26    144135.98
27    127864.55
28    182645.56
29    153032.06
30    115641.28
31    152701.92
32    129219.61
33    103057.49
34    157693.92
35     85047.44
36    127056.21
37     51283.14
38     65947.93
39     82982.09
40    118546.05
41     84710.77
42     96189.63
43    127382.30
44    154806.14
45    124153.04
46    115816.21
47    135426.92
48     51743.15
49    116983.80
Name: Mkt, dtype: float64

In [12]:
data_set.iloc[:,-1] # last column of data frame (Profit)

0     115546
1     146399
2     111438
3     149790
4     143642
5     119634
6     110900
7     168631
8     168518
9     161551
10    102370
11    157465
12    129077
13    140946
14    161600
15    115124
16    107058
17     98346
18    122703
19    174760
20    159299
21    105174
22    116989
23    102336
24    151891
25    134473
26    103137
27    169510
28     97271
29    142382
30    143064
31     98697
32    165018
33    124906
34    143848
35    169792
36     99423
37    112459
38    124597
39    162089
40    151676
41    174992
42     98134
43    141684
44    141723
45    133463
46    140940
47    113672
48    144687
49    128783
Name: Profit, dtype: int64