In [ ]:
#https://www.javatpoint.com/logistic-regression-in-machine-learning

In [2]:
#Data Pre-procesing Step  
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [15]:
data_set= pd.read_csv("sample.csv")

In [16]:
data_set

    age  job
0    16    0
1    24    0
2    31    1
3    29    0
4    40    1
5    33    0
6    18    0
7    36    1
8    15    0
9    37    1
10   19    0
11   21    0
12   29    1
13   31    1
14   23    1
15   20    0
16   34    1
17   22    0
18   32    1
19   15    0
20   14    0
21   13    0
22   51    1
23   43    1
24   23    0
25   31    1